.left {
    top: 30px;
    left: 0px;
    width: 27%;
    position: relative;
    float: left;
}

.left button {
    width: 140px;
}

.right {
    top: 30px;
    right: 0px;
    width: 70%;
    min-height: 400px;
    position: relative;
    float: right;
}


/* Stream Video*/

#test_video {
    width: 100% !important;
    height: auto !important;
    border-radius: 4px;
}

.shutter-text {
    width: 110px;
}

select {
    border-radius: 7px;
    border: 0.5px solid #D9D5DB;
}